@import 'mixins/gradient';

.ListView
  padding 0
  margin 0
  list-style none

  > li
    box-sizing border-box
    -webkit-box-sizing border-box
    border-top 1px solid #DEDEDE
    color #2F3E46
    font-weight bold
    gradient #FAFAFA #EEE
    padding 12px 10px 10px 10px
    text-decoration none
    width 100%
    vertical-align middle

    &.active
      color #FFF
      cursor pointer
      gradient #85BAE4 #5393C5
      border-top 1px solid #155678
      border-bottom 1px solid #155678
      outline none
