@import 'mixins/box';
@import 'mixins/gradient';
@import 'mixins/pos';

.App
  height 418px
  position relative
  box vertical

  &.appleHomeScreenApp
    height 460px

  > #header
    gradient #3C3C3C #111

    > .title
      color #FFF
      font-size 16px
      font-weight bold
      padding 10px 0 10px 0
      text-align center
  
  > #content
    box-flex 1
    position relative

    > .scroller
      abspos 0px 0px 0px 0px

  > #footer
    > ul
      margin 0
      padding 0

      > li
        border-top 3px solid #666
        border-right 1px solid #444
        color #FFF
        display inline-block
        gradient #333 #111
        min-height 40px
        text-align center
        width 33.296%

        &:last-child
          border-right none
        a
          display inline-block
          padding 20px 0 6px 0
