@import 'mixins/animation';
@import 'mixins/box';
@import 'mixins/gradient';
@import 'mixins/pos';
@import 'mixins/triangle';

@media screen and (max-width: 320px)
  .App
    height 418px

    &.IOSFullScreenApp
      height 460px

@media screen and (min-width: 321px) and (max-width: 480px)
  .App
    height 269px

    &.IOSFullScreenApp
      height 300px

@media screen and (min-width: 481px)
  .App
    height 418px

@-webkit-keyframes slideOutLeft
  from
    -webkit-transform translate3d(0,0,0)
    opacity 1.0
  to
    -webkit-transform translate3d(-100%,0,0)
    opacity 0.0

@-webkit-keyframes slideInLeft
  from
    -webkit-transform translate3d(100%,0,0)
    opacity 0.0
  to
    -webkit-transform translate3d(0,0,0)
    opacity 1.0

@-webkit-keyframes slideOutRight
  from
    -webkit-transform translate3d(0,0,0)
    opacity 1.0
  to
    -webkit-transform translate3d(100%,0,0)
    opacity 0.0

@-webkit-keyframes slideInRight
  from
    -webkit-transform translate3d(-100%,0,0)
    opacity 0.0
  to
    -webkit-transform translate3d(0,0,0)
    opacity 1.0

@-webkit-keyframes fadeIn
  from
    opacity 0
  to
    opacity 1.0

.App
  position relative
  box vertical
  -webkit-tap-highlight-color rgba(0,0,0,0)
  z-index 1

  .headingOut
    animate slideOutLeft

  .headingIn
    animate slideInLeft

  .headingOut-reverse
    animate slideOutRight

  .headingIn-reverse
    animate slideInRight

  > #header
    abspos 0px 0px false 0px
    box-shadow 0 1px 5px #333
    gradient #444 #111
    height 43px
    z-index 3

    buttonColor = #111
    buttonRadius = 5px

    > #backbutton
    > #forwardbutton
      color #AAA
      display inline-block
      font-size 14px
      text-align center
      abspos 7px false 7px false
      background-color buttonColor

      > span
        top 6px
        bottom 0px
        overflow hidden
        white-space nowrap
        text-overflow ellipsis

    > #backbutton
      border-radius 0 buttonRadius buttonRadius 0
      width 15%
      left 20px

      &:before
        abspos 0 0 0 -28px
        triangleShape left 14px buttonColor buttonColor

      > span
        abspos false 8px false 2px

    > #forwardbutton
      border-radius buttonRadius
      right 7px
      width 20%

      > span
        abspos false 8px false 8px
    

    > #title
    > #prevtitle
      abspos 0px 25% 0px 25%
      color #FFF
      font-size 22px
      font-weight bold
      padding 9px 0 0 0
      text-align center
      overflow hidden
      white-space nowrap
      text-overflow ellipsis
      z-index 2

    > #prevtitle
      visibility hidden
      z-index 1

      &.headingOut
      &.headingOut-reverse
        visibility visible
  
  > #content
    margin-top 43px
    box-flex 1
    position relative
    z-index 1

    > .Page
      abspos 0px 0px 0px 0px

      &.fadeIn
        animate fadeIn 1s

  > #footer
    z-index 2

    > ul
      margin 0
      padding 0
      list-style-type none
      box horizontal

      > li
        border-top 2px solid #666
        border-right 1px solid #444
        color #FFF
        gradient #333 #111
        text-align center
        box-flex 1
        padding 10px 0 10px 0

        &:last-child
          border-right none
