@import 'mixins/gradient';
@import 'mixins/pos';

.App
  height 401px
  position relative

  &.appleHomeScreenApp
    > #footer
      bottom -59px
    > #content
      height 371px

  > #header
    gradient #3C3C3C #111

    > .title
      color #FFF
      font-size 16px
      font-weight bold
      padding 10px 0 10px 0
      text-align center
  
  > #content
    height 328px

  > #footer   
    abspos false 0px -16px 0px
    
    > ul
      margin 0
      padding 0

      > li
        border-top 3px solid #666
        border-right 1px solid #444
        color #FFF
        display inline-block
        gradient #333 #111
        min-height 46px
        text-align center
        width 33.296%

        &:last-child
          border-right none

        a
          display inline-block
          padding 14px 0 10px 0
