@import 'mixins/animation';
@import 'mixins/box';
@import 'mixins/gradient';
@import 'mixins/pos';
@import 'mixins/triangle';

.App
  abspos 0px 0px 0px 0px
  box vertical
  -webkit-tap-highlight-color rgba(0,0,0,0)
  z-index 1

  > .TitleBar
    abspos 0px 0px false 0px
    z-index 3
    
  > #content
    margin-top 43px
    box-flex 1
    position relative
    z-index 1
