@import 'mixins/animation';
@import 'mixins/box';
@import 'mixins/gradient';
@import 'mixins/pos';
@import 'mixins/triangle';

@media screen and (max-width: 320px)
  .App
    position relative
    height 418px

    &.IOSFullScreenApp
      height 460px

@media screen and (min-width: 321px) and (max-width: 480px)
  .App
    position relative
    height 269px

    &.IOSFullScreenApp
      height 300px

@media screen and (min-width: 481px)
  .App
    abspos 0px 0px 0px 0px

@-webkit-keyframes slideOutLeft
  from
    -webkit-transform translateX(0)
  to
    -webkit-transform translateX(-100%)

@-webkit-keyframes slideInLeft
  from
    -webkit-transform translateX(100%)
  to
    -webkit-transform translateX(0)

@-webkit-keyframes slideOutRight
  from
    -webkit-transform translateX(0)
  to
    -webkit-transform translateX(100%)

@-webkit-keyframes slideInRight
  from
    -webkit-transform translateX(-100%)
  to
    -webkit-transform translateX(0)

@-webkit-keyframes fadeIn
  from
    opacity 0
  to
    opacity 1.0

@-webkit-keyframes fadeOut
  from
    opacity 1.0
  to
    opacity 0

.App
  box vertical
  -webkit-tap-highlight-color rgba(0,0,0,0)
  z-index 1

  .animate
    animation-duration 500ms
    animation-fill-mode forwards

    &.headingOut
      animation-name slideOutLeft

    &.headingIn
      animation-name slideInLeft

    &.headingOut-reverse
      animation-name slideOutRight

    &.headingIn-reverse
      animation-name slideInRight

    &.headingOutFade
      animation-name @css{slideOutLeft,fadeOut}

    &.headingInFade
      animation-name @css{slideInLeft,fadeIn}

    &.headingOutFade-reverse
      animation-name @css{slideOutRight,fadeOut}

    &.headingInFade-reverse
      animation-name @css{slideInRight,fadeIn}

    &.fadeIn
      animation-name fadeIn

    &.fadeOut
      animation-name fadeOut

  > .TitleBar
    abspos 0px 0px false 0px
    z-index 3
    
  > #content
    margin-top 43px
    box-flex 1
    position relative
    z-index 1
