@media screen and (max-width: 320px){.App{height:418px;}
.App.IOSFullScreenApp{height:460px}
}@media screen and (min-width: 321px) and (max-width: 480px){.App{height:269px;}
.App.IOSFullScreenApp{height:300px}
}@media screen and (min-width: 481px){.App{height:418px}
}@-webkit-keyframes slideOutLeft{0%{-webkit-transform:translateX(0);opacity:1}
100%{-webkit-transform:translateX(-100%);opacity:0}
}@-webkit-keyframes slideInLeft{0%{-webkit-transform:translateX(100%);opacity:0}
100%{-webkit-transform:translateX(0);opacity:1}
}@-webkit-keyframes slideOutRight{0%{-webkit-transform:translateX(0);opacity:1}
100%{-webkit-transform:translateX(100%);opacity:0}
}@-webkit-keyframes slideInRight{0%{-webkit-transform:translateX(-100%);opacity:0}
100%{-webkit-transform:translateX(0);opacity:1}
}@-webkit-keyframes fadeIn{0%{opacity:0}
100%{opacity:1}
}.App{position:relative;display:box;display:-webkit-box;display:-moz-box;-webkit-box-orient:vertical;-moz-box-orient:vertical;-webkit-tap-highlight-color:rgba(0,0,0,0.00);z-index:1;}
.App .headingOut{-webkit-animation-name:slideOutLeft;-webkit-animation-duration:500ms;-webkit-animation-fill-mode:forwards}
.App .headingIn{-webkit-animation-name:slideInLeft;-webkit-animation-duration:500ms;-webkit-animation-fill-mode:forwards}
.App .headingOut-reverse{-webkit-animation-name:slideOutRight;-webkit-animation-duration:500ms;-webkit-animation-fill-mode:forwards}
.App .headingIn-reverse{-webkit-animation-name:slideInRight;-webkit-animation-duration:500ms;-webkit-animation-fill-mode:forwards}
.App > .TitleBar{position:absolute;top:0;right:0;left:0;z-index:3}
.App > #content{margin-top:43px;box-flex:1;-webkit-box-flex:1;-moz-box-flex:1;position:relative;z-index:1}
.App > .TabNavBar{z-index:2}
